Repository TeamRichardStallman/DV-Back, pull requests merged in 2024-10, with the labels that each got.

#1 DV-29 BE-면접 정보 입력
  .github/PULL_REQUEST_TEMPLATE.md
  README.md
  build.gradle
  gradle/wrapper/gradle-wrapper.properties
  src/main/java/org/richardstallman/dvback/DvBackApplication.java
  src/main/java/org/richardstallman/dvback/common/constant/CommonConstants.java
  src/main/java/org/richardstallman/dvback/domain/interview/controller/InterviewController.java
  src/main/java/org/richardstallman/dvback/domain/interview/converter/InterviewConverter.java
  src/main/java/org/richardstallman/dvback/domain/interview/domain/InterviewDomain.java
  src/main/java/org/richardstallman/dvback/domain/interview/domain/request/InterviewCreateRequestDto.java
  src/main/java/org/richardstallman/dvback/domain/interview/domain/response/InterviewCreateResponseDto.java
  src/main/java/org/richardstallman/dvback/domain/interview/entity/AnswerEntity.java
  src/main/java/org/richardstallman/dvback/domain/interview/entity/InterviewEntity.java
  src/main/java/org/richardstallman/dvback/domain/interview/entity/QuestionEntity.java
  src/main/java/org/richardstallman/dvback/domain/interview/repository/InterviewJpaRepository.java
  src/main/java/org/richardstallman/dvback/domain/interview/repository/InterviewRepository.java
  src/main/java/org/richardstallman/dvback/domain/interview/repository/InterviewRepositoryImpl.java
  src/main/java/org/richardstallman/dvback/domain/interview/service/InterviewService.java
  src/main/java/org/richardstallman/dvback/domain/interview/service/InterviewServiceImpl.java
  src/main/java/org/richardstallman/dvback/domain/job/converter/JobConverter.java
  src/main/java/org/richardstallman/dvback/domain/job/domain/JobDomain.java
  src/main/java/org/richardstallman/dvback/domain/job/entity/JobEntity.java
  src/main/java/org/richardstallman/dvback/domain/job/repository/JobJpaRepository.java
  src/main/java/org/richardstallman/dvback/domain/job/repository/JobRepository.java
  src/main/java/org/richardstallman/dvback/domain/job/repository/JobRepositoryImpl.java
  src/main/java/org/richardstallman/dvback/domain/job/service/JobService.java
  src/main/java/org/richardstallman/dvback/domain/job/service/JobServiceImpl.java
  src/main/java/org/richardstallman/dvback/global/entity/BaseEntity.java
  src/main/resources/static.docs/app.adoc
  src/test/java/org/richardstallman/dvback/DvBackApplicationTests.java
  src/test/java/org/richardstallman/dvback/domain/interview/controller/InterviewControllerTest.java
  src/test/java/org/richardstallman/dvback/domain/interview/service/InterviewServiceTest.java
  src/test/java/org/richardstallman/dvback/domain/job/repository/JobRepositoryTest.java
  src/test/java/org/richardstallman/dvback/domain/job/service/JobServiceTest.java
  src/test/java/org/richardstallman/dvback/mock/interview/FakeInterviewRepository.java
  src/test/java/org/richardstallman/dvback/mock/job/FakeJobRepository.java
Labels: feat, test

#2 Dv 36 s3 service interface 작성
  Dockerfile
  build.gradle
  gradle/wrapper/gradle-wrapper.jar
  gradlew
  gradlew.bat
  src/main/java/org/richardstallman/dvback/domain/s3/S3Service.java
Labels: feat

#3 Dv 42 be common response implement
  .gitignore
  build.gradle
  src/main/java/org/richardstallman/dvback/common/DvApiResponse.java
  src/main/java/org/richardstallman/dvback/common/constant/CommonConstants.java
  src/main/java/org/richardstallman/dvback/domain/interview/controller/InterviewController.java
  src/main/java/org/richardstallman/dvback/domain/interview/converter/InterviewConverter.java
  src/main/java/org/richardstallman/dvback/domain/interview/domain/request/InterviewCreateRequestDto.java
  src/main/java/org/richardstallman/dvback/domain/interview/entity/InterviewEntity.java
  src/main/java/org/richardstallman/dvback/domain/interview/repository/InterviewRepositoryImpl.java
  src/main/java/org/richardstallman/dvback/domain/interview/service/InterviewServiceImpl.java
  src/main/java/org/richardstallman/dvback/domain/job/converter/JobConverter.java
  src/main/java/org/richardstallman/dvback/domain/job/domain/JobDomain.java
  src/main/java/org/richardstallman/dvback/domain/job/entity/JobEntity.java
  src/main/java/org/richardstallman/dvback/domain/job/repository/JobRepository.java
  src/main/java/org/richardstallman/dvback/domain/job/repository/JobRepositoryImpl.java
  src/main/java/org/richardstallman/dvback/domain/job/service/JobServiceImpl.java
  src/main/java/org/richardstallman/dvback/global/advice/ExceptionAdvice.java
  src/main/java/org/richardstallman/dvback/global/advice/exceptions/ApiException.java
  src/main/java/org/richardstallman/dvback/global/config/jobs/JobsConfig.java
  src/main/java/org/richardstallman/dvback/global/config/yml/YamlPropertySourceFactory.java
  src/main/java/org/richardstallman/dvback/global/data/DataInitializer.java
  src/main/resources/application-dev.yml
  src/main/resources/application-local.yml
  src/main/resources/application-prod.yml
  src/main/resources/application.yml
  src/main/resources/properties/dev/initial_data.yml
  src/main/resources/properties/local/initial_data.yml
  src/main/resources/properties/prod/initial_data.yml
  src/main/resources/static.docs/app.adoc
  src/test/java/org/richardstallman/dvback/domain/interview/controller/InterviewControllerTest.java
  src/test/java/org/richardstallman/dvback/domain/interview/service/InterviewServiceTest.java
  src/test/java/org/richardstallman/dvback/domain/job/repository/JobRepositoryTest.java
  src/test/java/org/richardstallman/dvback/domain/job/service/JobServiceTest.java
  src/test/java/org/richardstallman/dvback/mock/job/FakeJobRepository.java
Labels: feat, test

#4 DV-77 be interview process logic implement
  src/main/java/org/richardstallman/dvback/common/constant/CommonConstants.java
  src/main/java/org/richardstallman/dvback/domain/interview/converter/InterviewConverter.java
  src/main/java/org/richardstallman/dvback/domain/interview/entity/AnswerEntity.java
  src/main/java/org/richardstallman/dvback/domain/interview/entity/QuestionEntity.java
  src/main/java/org/richardstallman/dvback/domain/question/controller/QuestionController.java
  src/main/java/org/richardstallman/dvback/domain/question/converter/QuestionConverter.java
  src/main/java/org/richardstallman/dvback/domain/question/domain/QuestionDomain.java
  src/main/java/org/richardstallman/dvback/domain/question/domain/external/QuestionExternalDomain.java
  src/main/java/org/richardstallman/dvback/domain/question/domain/external/request/QuestionExternalRequestDto.java
  src/main/java/org/richardstallman/dvback/domain/question/domain/external/response/QuestionExternalResponseDto.java
  src/main/java/org/richardstallman/dvback/domain/question/domain/request/QuestionInitialRequestDto.java
  src/main/java/org/richardstallman/dvback/domain/question/domain/response/QuestionInitialResponseDto.java
  src/main/java/org/richardstallman/dvback/domain/question/entity/QuestionEntity.java
  src/main/java/org/richardstallman/dvback/domain/question/repository/QuestionJpaRepository.java
  src/main/java/org/richardstallman/dvback/domain/question/repository/QuestionRepository.java
  src/main/java/org/richardstallman/dvback/domain/question/repository/QuestionRepositoryImpl.java
  src/main/java/org/richardstallman/dvback/domain/question/service/QuestionService.java
  src/main/java/org/richardstallman/dvback/domain/question/service/QuestionServiceImpl.java
  src/main/resources/static.docs/app.adoc
  src/test/java/org/richardstallman/dvback/domain/interview/controller/InterviewControllerTest.java
  src/test/java/org/richardstallman/dvback/domain/interview/service/InterviewServiceTest.java
  src/test/java/org/richardstallman/dvback/domain/question/controller/QuestionControllerTest.java
  src/test/java/org/richardstallman/dvback/mock/question/FakeQuestionRepository.java
Labels: feat, test

#5 [DV-39] BE Generate Questions
  src/main/java/org/richardstallman/dvback/client/python/PythonService.java
  src/main/java/org/richardstallman/dvback/client/python/PythonServiceImpl.java
  src/main/java/org/richardstallman/dvback/domain/question/converter/QuestionConverter.java
  src/main/java/org/richardstallman/dvback/domain/question/domain/external/response/QuestionExternalResponseDto.java
  src/main/java/org/richardstallman/dvback/domain/question/service/QuestionServiceImpl.java
  src/main/resources/application-dev.yml
  src/main/resources/application-local.yml
  src/main/resources/application-prod.yml
  src/main/resources/static.docs/app.adoc
Labels: feat

#6 Dv 81 be s3 연결
  .gitignore
  Dockerfile
  src/main/java/org/richardstallman/dvback/client/s3/config/S3Config.java
  src/main/java/org/richardstallman/dvback/client/s3/service/S3Service.java
  src/main/java/org/richardstallman/dvback/client/s3/service/S3ServiceImpl.java
  src/main/java/org/richardstallman/dvback/domain/s3/S3Service.java
  src/main/resources/application-dev.yml
  src/main/resources/application-local.yml
  src/main/resources/application-prod.yml
  src/test/java/org/richardstallman/dvback/domain/s3/S3ServiceTest.java
Labels: documentation, feat, test

#9 Dv 81 be s3 연결
  src/main/java/org/richardstallman/dvback/client/s3/config/S3Config.java
  src/main/java/org/richardstallman/dvback/client/s3/service/S3ServiceImpl.java
Labels: bug

#8 [DV-86] feat : 면접 평가 기능 구현
  src/main/java/org/richardstallman/dvback/client/python/PythonService.java
  src/main/java/org/richardstallman/dvback/client/python/PythonServiceImpl.java
  src/main/java/org/richardstallman/dvback/common/constant/CommonConstants.java
  src/main/java/org/richardstallman/dvback/domain/answer/converter/AnswerConverter.java
  src/main/java/org/richardstallman/dvback/domain/answer/entity/AnswerEntity.java
  src/main/java/org/richardstallman/dvback/domain/answer/repository/AnswerJpaRepository.java
  src/main/java/org/richardstallman/dvback/domain/answer/repository/AnswerRepository.java
  src/main/java/org/richardstallman/dvback/domain/answer/repository/AnswerRepositoryImpl.java
  src/main/java/org/richardstallman/dvback/domain/evaluation/controller/EvaluationController.java
  src/main/java/org/richardstallman/dvback/domain/evaluation/converter/AnswerEvaluationConverter.java
  src/main/java/org/richardstallman/dvback/domain/evaluation/converter/EvaluationCriteriaConverter.java
  src/main/java/org/richardstallman/dvback/domain/evaluation/converter/OverallEvaluationConverter.java
  src/main/java/org/richardstallman/dvback/domain/evaluation/domain/EvaluationCriteriaDomain.java
  src/main/java/org/richardstallman/dvback/domain/evaluation/domain/answer/AnswerEvaluationDomain.java
  src/main/java/org/richardstallman/dvback/domain/evaluation/domain/answer/response/AnswerEvaluationResponseDto.java
  src/main/java/org/richardstallman/dvback/domain/evaluation/domain/external/AnswerEvaluationExternalDomain.java
  src/main/java/org/richardstallman/dvback/domain/evaluation/domain/external/EvaluationCriteriaExternalDomain.java
  src/main/java/org/richardstallman/dvback/domain/evaluation/domain/external/OverallEvaluationExternalDomain.java
  src/main/java/org/richardstallman/dvback/domain/evaluation/domain/external/request/EvaluationExternalRequestDto.java
  src/main/java/org/richardstallman/dvback/domain/evaluation/domain/external/response/EvaluationExternalResponseDto.java
  src/main/java/org/richardstallman/dvback/domain/evaluation/domain/overall/OverallEvaluationDomain.java
  src/main/java/org/richardstallman/dvback/domain/evaluation/domain/overall/request/OverallEvaluationRequestDto.java
  src/main/java/org/richardstallman/dvback/domain/evaluation/domain/overall/response/OverallEvaluationResponseDto.java
  src/main/java/org/richardstallman/dvback/domain/evaluation/domain/response/EvaluationCriteriaResponseDto.java
  src/main/java/org/richardstallman/dvback/domain/evaluation/entity/EvaluationCriteriaEntity.java
  src/main/java/org/richardstallman/dvback/domain/evaluation/entity/answer/AnswerEvaluationEntity.java
  src/main/java/org/richardstallman/dvback/domain/evaluation/entity/overall/OverallEvaluationEntity.java
  src/main/java/org/richardstallman/dvback/domain/evaluation/repository/answer/AnswerEvaluationJpaRepository.java
  src/main/java/org/richardstallman/dvback/domain/evaluation/repository/answer/AnswerEvaluationRepository.java
  src/main/java/org/richardstallman/dvback/domain/evaluation/repository/answer/AnswerEvaluationRepositoryImpl.java
  src/main/java/org/richardstallman/dvback/domain/evaluation/repository/criteria/EvaluationCriteriaJpaRepository.java
  src/main/java/org/richardstallman/dvback/domain/evaluation/repository/criteria/EvaluationCriteriaRepository.java
  src/main/java/org/richardstallman/dvback/domain/evaluation/repository/criteria/EvaluationCriteriaRepositoryImpl.java
  src/main/java/org/richardstallman/dvback/domain/evaluation/repository/overall/OverallEvaluationJpaRepository.java
  src/main/java/org/richardstallman/dvback/domain/evaluation/repository/overall/OverallEvaluationRepository.java
  src/main/java/org/richardstallman/dvback/domain/evaluation/repository/overall/OverallEvaluationRepositoryImpl.java
  src/main/java/org/richardstallman/dvback/domain/evaluation/service/EvaluationService.java
  src/main/java/org/richardstallman/dvback/domain/evaluation/service/EvaluationServiceImpl.java
  src/main/java/org/richardstallman/dvback/domain/question/repository/QuestionRepository.java
  src/main/java/org/richardstallman/dvback/domain/question/repository/QuestionRepositoryImpl.java
  src/main/resources/application-dev.yml
  src/main/resources/application-local.yml
  src/main/resources/application-prod.yml
  src/test/java/org/richardstallman/dvback/domain/question/controller/QuestionControllerTest.java
  src/test/java/org/richardstallman/dvback/mock/question/FakeQuestionRepository.java
Labels: feat

#10 Dv 94 be point implement
  src/main/java/org/richardstallman/dvback/common/constant/CommonConstants.java
  src/main/java/org/richardstallman/dvback/domain/point/converter/PointConverter.java
  src/main/java/org/richardstallman/dvback/domain/point/domain/PointDomain.java
  src/main/java/org/richardstallman/dvback/domain/point/domain/request/PointTransactionRequestDto.java
  src/main/java/org/richardstallman/dvback/domain/point/domain/response/PointResponseDto.java
  src/main/java/org/richardstallman/dvback/domain/point/domain/response/PointTransactionResponseDto.java
  src/main/java/org/richardstallman/dvback/domain/point/entity/PointEntity.java
  src/main/java/org/richardstallman/dvback/domain/point/repository/transaction/PointTransactionJpaRepository.java
  src/main/java/org/richardstallman/dvback/domain/point/service/PointService.java
  src/main/java/org/richardstallman/dvback/domain/point/service/PointServiceImpl.java
  src/test/java/org/richardstallman/dvback/domain/point/controller/PointControllerTest.java
  src/test/java/org/richardstallman/dvback/domain/point/service/PointServiceTest.java
  src/test/java/org/richardstallman/dvback/mock/point/FakePointRepository.java
  src/test/java/org/richardstallman/dvback/mock/point/FakePointTransactionRepository.java
Labels: feat, test
