Repository TeamRichardStallman/DV-Back, pull requests merged in 2024-12, with the labels that each got.

#38 Dv 187 be add fcm
  .gitignore
  build.gradle
  src/main/java/org/richardstallman/dvback/client/firebase/config/FirebaseConfig.java
  src/main/java/org/richardstallman/dvback/client/firebase/controller/FirebaseController.java
  src/main/java/org/richardstallman/dvback/client/firebase/converter/FcmTokenConverter.java
  src/main/java/org/richardstallman/dvback/client/firebase/domain/FcmSendDto.java
  src/main/java/org/richardstallman/dvback/client/firebase/domain/FcmTokenDomain.java
  src/main/java/org/richardstallman/dvback/client/firebase/domain/request/FcmTokenCreateRequestDto.java
  src/main/java/org/richardstallman/dvback/client/firebase/domain/response/FcmTokenCreateResponseDto.java
  src/main/java/org/richardstallman/dvback/client/firebase/entity/FcmTokenEntity.java
  src/main/java/org/richardstallman/dvback/client/firebase/repository/FcmTokenJpaRepository.java
  src/main/java/org/richardstallman/dvback/client/firebase/repository/FcmTokenRepository.java
  src/main/java/org/richardstallman/dvback/client/firebase/repository/FcmTokenRepositoryImpl.java
  src/main/java/org/richardstallman/dvback/client/firebase/service/FcmTokenService.java
  src/main/java/org/richardstallman/dvback/client/firebase/service/FcmTokenServiceImpl.java
  src/main/java/org/richardstallman/dvback/client/firebase/service/FirebaseMessagingService.java
  src/main/java/org/richardstallman/dvback/client/firebase/service/FirebaseMessagingServiceImpl.java
  src/main/java/org/richardstallman/dvback/common/constant/CommonConstants.java
  src/main/java/org/richardstallman/dvback/domain/evaluation/controller/EvaluationController.java
  src/main/java/org/richardstallman/dvback/domain/evaluation/domain/overall/request/OverallEvaluationResultCriteriaDto.java
  src/main/java/org/richardstallman/dvback/domain/evaluation/domain/overall/request/OverallEvaluationResultDto.java
  src/main/java/org/richardstallman/dvback/domain/evaluation/domain/overall/request/OverallEvaluationResultRequestDto.java
  src/main/java/org/richardstallman/dvback/domain/evaluation/domain/overall/request/OverallEvaluationResultTextDto.java
  src/main/java/org/richardstallman/dvback/domain/evaluation/domain/overall/request/OverallEvaluationResultVoiceDto.java
  src/main/java/org/richardstallman/dvback/domain/evaluation/service/EvaluationService.java
  src/main/java/org/richardstallman/dvback/domain/evaluation/service/EvaluationServiceImpl.java
  src/main/java/org/richardstallman/dvback/domain/post/service/PostServiceImpl.java
  src/main/resources/application-dev.yml
  src/main/resources/application-local.yml
  src/main/resources/application-prod.yml
  src/main/resources/application-test.yml
  src/test/java/org/richardstallman/dvback/answer/controller/AnswerControllerTest.java
  src/test/java/org/richardstallman/dvback/client/firebase/controller/FirebaseControllerTest.java
  src/test/java/org/richardstallman/dvback/domain/evaluation/controller/EvaluationControllerTest.java
Labels: feat, test

#39 feat : 구글 계정 변경 및 평가 테스트 코드 보완
  src/main/java/org/richardstallman/dvback/client/firebase/config/FirebaseConfig.java
  src/test/java/org/richardstallman/dvback/domain/evaluation/controller/EvaluationControllerTest.java
Labels: feat

#40 Dv 182 be sns 게시글 조회
  src/main/java/org/richardstallman/dvback/domain/post/controller/PostController.java
  src/main/java/org/richardstallman/dvback/domain/post/domain/response/PostSliceListResponse.java
  src/main/java/org/richardstallman/dvback/domain/post/repository/PostJpaRepository.java
  src/main/java/org/richardstallman/dvback/domain/post/repository/PostRepository.java
  src/main/java/org/richardstallman/dvback/domain/post/repository/PostRepositoryImpl.java
  src/main/java/org/richardstallman/dvback/domain/post/service/PostService.java
  src/main/java/org/richardstallman/dvback/domain/post/service/PostServiceImpl.java
  src/main/resources/application-dev.yml
  src/main/resources/application-local.yml
  src/main/resources/application-prod.yml
  src/main/resources/application-test.yml
  src/main/resources/static/docs/openapi3.yaml
  src/test/java/org/richardstallman/dvback/domain/post/controller/PostControllerTest.java
Labels: feat, test

#41 Dv 189 be rtr 구현
  src/main/java/org/richardstallman/dvback/global/jwt/JwtAuthorizationFilter.java
  src/main/java/org/richardstallman/dvback/global/oauth/service/TokenService.java
Labels: feat

#42 Dv 195 be 회원 정보 수정 기능 구현
  src/main/java/org/richardstallman/dvback/domain/user/controller/UserController.java
  src/main/java/org/richardstallman/dvback/domain/user/converter/UserConverter.java
  src/main/java/org/richardstallman/dvback/domain/user/domain/request/UserUpdateRequestDto.java
  src/main/java/org/richardstallman/dvback/domain/user/service/UserService.java
  src/main/java/org/richardstallman/dvback/domain/user/service/UserServiceImpl.java
  src/test/java/org/richardstallman/dvback/domain/user/controller/UserControllerTest.java
Labels: feat, test

#44 Dv 197 be 인증 관련 작업
  src/main/java/org/richardstallman/dvback/global/config/security/SecurityConfig.java
  src/main/java/org/richardstallman/dvback/global/jwt/JwtAuthorizationFilter.java
  src/main/resources/application-dev.yml
  src/main/resources/application-local.yml
  src/main/resources/application-prod.yml
  src/main/resources/application-test.yml
  src/test/java/org/richardstallman/dvback/domain/file/controller/FileControllerTest.java
  src/test/java/org/richardstallman/dvback/domain/interview/controller/InterviewControllerTest.java
  src/test/java/org/richardstallman/dvback/domain/point/controller/PointControllerTest.java
  src/test/java/org/richardstallman/dvback/domain/question/controller/QuestionControllerTest.java
Labels: feat, chore

#45 feat : 인공지능 요청으로 payload에 맞게 변경
  src/main/java/org/richardstallman/dvback/domain/answer/converter/AnswerConverter.java
  src/main/java/org/richardstallman/dvback/domain/evaluation/domain/overall/request/OverallEvaluationResultRequestDto.java
  src/main/java/org/richardstallman/dvback/domain/question/domain/external/request/QuestionExternalSttRequestDto.java
  src/main/java/org/richardstallman/dvback/domain/question/service/QuestionServiceImpl.java
  src/test/java/org/richardstallman/dvback/domain/evaluation/controller/EvaluationControllerTest.java
Labels: feat

#46 fix : s3 경로 변경
  src/main/java/org/richardstallman/dvback/client/s3/service/S3ServiceImpl.java
Labels: fix

#47 feat : 인공지능 요청으로 payload에 맞게 변경
  src/main/java/org/richardstallman/dvback/domain/question/domain/request/QuestionResultDto.java
  src/test/java/org/richardstallman/dvback/domain/question/controller/QuestionControllerTest.java
Labels: feat

#48 [DV-208] feat: 오디오 presignedurl 관련 작업
  src/main/java/org/richardstallman/dvback/client/s3/service/S3Service.java
  src/main/java/org/richardstallman/dvback/client/s3/service/S3ServiceImpl.java
  src/main/java/org/richardstallman/dvback/domain/file/controller/FileController.java
  src/test/java/org/richardstallman/dvback/domain/answer/controller/AnswerControllerTest.java
  src/test/java/org/richardstallman/dvback/domain/file/controller/FileControllerTest.java
Labels: feat, test

#49 [DV-221] feat: 회원 정보 길이 제한
  src/main/java/org/richardstallman/dvback/domain/user/service/UserServiceImpl.java
Labels: feat

#51 DV-228-be-sns-update
  src/main/java/org/richardstallman/dvback/domain/post/converter/PostConverter.java
  src/main/java/org/richardstallman/dvback/domain/post/domain/response/PostCreateResponseDto.java
  src/main/java/org/richardstallman/dvback/domain/post/service/PostServiceImpl.java
  src/test/java/org/richardstallman/dvback/domain/post/controller/PostControllerTest.java
Labels: feat, test

#52 [DV-226] feat: 본인 확인 엔드포인트 구현
  src/main/java/org/richardstallman/dvback/domain/interview/controller/InterviewController.java
  src/main/java/org/richardstallman/dvback/domain/interview/service/InterviewService.java
  src/main/java/org/richardstallman/dvback/domain/interview/service/InterviewServiceImpl.java
  src/test/java/org/richardstallman/dvback/domain/interview/controller/InterviewControllerTest.java
Labels: feat, test

#53 DV-234-be-update-voice-and-s3-logic
  src/main/java/org/richardstallman/dvback/client/python/PythonServiceImpl.java
  src/main/java/org/richardstallman/dvback/client/s3/service/S3Service.java
  src/main/java/org/richardstallman/dvback/client/s3/service/S3ServiceImpl.java
  src/main/java/org/richardstallman/dvback/domain/file/controller/FileController.java
  src/main/java/org/richardstallman/dvback/domain/file/domain/response/PreSignedUrlResponseDto.java
  src/main/java/org/richardstallman/dvback/domain/interview/controller/InterviewController.java
  src/main/java/org/richardstallman/dvback/domain/interview/converter/InterviewConverter.java
  src/main/java/org/richardstallman/dvback/domain/interview/domain/request/InterviewAddFileRequestDto.java
  src/main/java/org/richardstallman/dvback/domain/interview/domain/response/InterviewAddFileResponseDto.java
  src/main/java/org/richardstallman/dvback/domain/interview/repository/InterviewRepository.java
  src/main/java/org/richardstallman/dvback/domain/interview/repository/InterviewRepositoryImpl.java
  src/main/java/org/richardstallman/dvback/domain/interview/service/InterviewService.java
  src/main/java/org/richardstallman/dvback/domain/interview/service/InterviewServiceImpl.java
  src/main/java/org/richardstallman/dvback/domain/question/converter/QuestionConverter.java
  src/main/java/org/richardstallman/dvback/domain/question/service/QuestionServiceImpl.java
  src/test/java/org/richardstallman/dvback/domain/file/controller/FileControllerTest.java
  src/test/java/org/richardstallman/dvback/domain/interview/controller/InterviewControllerTest.java
  src/test/java/org/richardstallman/dvback/mock/interview/FakeInterviewRepository.java
Labels: feat, test

#54 Dv 234 be update voice and s3 logic
  src/main/java/org/richardstallman/dvback/domain/answer/service/AnswerServiceImpl.java
  src/main/java/org/richardstallman/dvback/domain/file/controller/FileController.java
  src/main/java/org/richardstallman/dvback/domain/file/converter/CoverLetterConverter.java
  src/main/java/org/richardstallman/dvback/domain/file/service/CoverLetterService.java
  src/main/java/org/richardstallman/dvback/domain/file/service/CoverLetterServiceImpl.java
  src/test/java/org/richardstallman/dvback/domain/file/controller/FileControllerTest.java
Labels: feat, test

#56 DV-255-be-update-refund-and-sns
  src/main/java/org/richardstallman/dvback/client/s3/service/S3Service.java
  src/main/java/org/richardstallman/dvback/client/s3/service/S3ServiceImpl.java
  src/main/java/org/richardstallman/dvback/common/constant/CommonConstants.java
  src/main/java/org/richardstallman/dvback/domain/evaluation/entity/answer/AnswerEvaluationScoreEntity.java
  src/main/java/org/richardstallman/dvback/domain/file/controller/FileController.java
  src/main/java/org/richardstallman/dvback/domain/post/controller/PostController.java
  src/main/java/org/richardstallman/dvback/domain/post/converter/PostConverter.java
  src/main/java/org/richardstallman/dvback/domain/post/domain/request/PostAddImageRequestDto.java
  src/main/java/org/richardstallman/dvback/domain/post/service/PostService.java
  src/main/java/org/richardstallman/dvback/domain/post/service/PostServiceImpl.java
  src/test/java/org/richardstallman/dvback/domain/file/controller/FileControllerTest.java
  src/test/java/org/richardstallman/dvback/domain/post/controller/PostControllerTest.java
Labels: feat, test

#57 DV-259-be-update-subscription-and-post-order
  src/main/java/org/richardstallman/dvback/domain/post/repository/PostJpaRepository.java
  src/main/java/org/richardstallman/dvback/domain/post/repository/PostRepositoryImpl.java
  src/main/java/org/richardstallman/dvback/domain/subscription/controller/SubscriptionController.java
  src/main/java/org/richardstallman/dvback/domain/subscription/repostiroy/SubscriptionJpaRepository.java
  src/main/java/org/richardstallman/dvback/domain/subscription/repostiroy/SubscriptionRepository.java
  src/main/java/org/richardstallman/dvback/domain/subscription/repostiroy/SubscriptionRepositoryImpl.java
  src/main/java/org/richardstallman/dvback/domain/subscription/service/SubscriptionServiceImpl.java
  src/test/java/org/richardstallman/dvback/domain/subscription/controller/SubscriptionControllerTest.java
Labels: feat, test
