Repository TeamRichardStallman/DV-Back, pull requests merged in 2024-11, with the labels that each got.

#11 DV-81 Fix : Dockerfile 수정
  Dockerfile
Labels: bug

#13 [DV-46] feat: 로그인, 로그아웃 기능 구현
  build.gradle
  src/docs/asciidoc/app.adoc
  src/main/java/org/richardstallman/dvback/client/redis/RedisConfig.java
  src/main/java/org/richardstallman/dvback/domain/user/controller/UserController.java
  src/main/java/org/richardstallman/dvback/domain/user/converter/UserConverter.java
  src/main/java/org/richardstallman/dvback/domain/user/domain/UserDomain.java
  src/main/java/org/richardstallman/dvback/domain/user/entity/UserEntity.java
  src/main/java/org/richardstallman/dvback/domain/user/repository/UserJpaRepository.java
  src/main/java/org/richardstallman/dvback/domain/user/repository/UserRepository.java
  src/main/java/org/richardstallman/dvback/domain/user/repository/UserRepositoryImpl.java
  src/main/java/org/richardstallman/dvback/global/config/security/SecurityConfig.java
  src/main/java/org/richardstallman/dvback/global/jwt/JwtAuthorizationFilter.java
  src/main/java/org/richardstallman/dvback/global/jwt/JwtUtil.java
  src/main/java/org/richardstallman/dvback/global/jwt/domain/response/JwtClaimResponseDto.java
  src/main/java/org/richardstallman/dvback/global/jwt/refreshtoken/converter/RefreshTokenConverter.java
  src/main/java/org/richardstallman/dvback/global/jwt/refreshtoken/domain/RefreshTokenDomain.java
  src/main/java/org/richardstallman/dvback/global/jwt/refreshtoken/entity/RefreshTokenEntity.java
  src/main/java/org/richardstallman/dvback/global/jwt/refreshtoken/repository/RefreshTokenRepository.java
  src/main/java/org/richardstallman/dvback/global/oauth/KakaoUserInfo.java
  src/main/java/org/richardstallman/dvback/global/oauth/OAuth2CustomUser.java
  src/main/java/org/richardstallman/dvback/global/oauth/OAuthAttributes.java
  src/main/java/org/richardstallman/dvback/global/oauth/handler/OAuth2FailureHandler.java
  src/main/java/org/richardstallman/dvback/global/oauth/handler/OAuth2SuccessHandler.java
  src/main/java/org/richardstallman/dvback/global/oauth/service/CookieService.java
  src/main/java/org/richardstallman/dvback/global/oauth/service/CustomOAuth2UserService.java
  src/main/java/org/richardstallman/dvback/global/oauth/service/TokenService.java
  src/main/resources/application-dev.yml
  src/main/resources/application-local.yml
  src/main/resources/application-prod.yml
  src/main/resources/static/docs/app.html
Labels: feat, chore

#14 [DV-114] feat: 사용자 정보 입력
  build.gradle
  src/docs/asciidoc/app.adoc
  src/main/java/org/richardstallman/dvback/common/constant/CommonConstants.java
  src/main/java/org/richardstallman/dvback/domain/user/controller/UserController.java
  src/main/java/org/richardstallman/dvback/domain/user/converter/UserConverter.java
  src/main/java/org/richardstallman/dvback/domain/user/domain/UserDomain.java
  src/main/java/org/richardstallman/dvback/domain/user/domain/request/UserRequestDto.java
  src/main/java/org/richardstallman/dvback/domain/user/domain/response/UserResponseDto.java
  src/main/java/org/richardstallman/dvback/domain/user/entity/UserEntity.java
  src/main/java/org/richardstallman/dvback/domain/user/repository/UserRepositoryImpl.java
  src/main/java/org/richardstallman/dvback/domain/user/service/UserService.java
  src/main/java/org/richardstallman/dvback/domain/user/service/UserServiceImpl.java
  src/main/java/org/richardstallman/dvback/global/jwt/JwtAuthorizationFilter.java
  src/main/java/org/richardstallman/dvback/global/jwt/JwtUtil.java
  src/main/java/org/richardstallman/dvback/global/oauth/KakaoUserInfo.java
  src/main/java/org/richardstallman/dvback/global/oauth/service/CustomOAuth2UserService.java
  src/main/java/org/richardstallman/dvback/global/oauth/service/TokenService.java
  src/main/resources/application-dev.yml
  src/main/resources/application-local.yml
  src/main/resources/application-prod.yml
  src/main/resources/static/docs/app.html
  src/test/java/org/richardstallman/dvback/domain/user/controller/UserControllerTest.java
Labels: feat

#16 [DV-119] feat : 마이페이지 평가 / 취준 자료 조회
  src/docs/asciidoc/app.adoc
  src/main/java/org/richardstallman/dvback/client/s3/service/S3Service.java
  src/main/java/org/richardstallman/dvback/client/s3/service/S3ServiceImpl.java
  src/main/java/org/richardstallman/dvback/common/constant/CommonConstants.java
  src/main/java/org/richardstallman/dvback/domain/evaluation/controller/EvaluationController.java
  src/main/java/org/richardstallman/dvback/domain/evaluation/converter/OverallEvaluationConverter.java
  src/main/java/org/richardstallman/dvback/domain/evaluation/domain/overall/response/OverallEvaluationUserInfoListResponseDto.java
  src/main/java/org/richardstallman/dvback/domain/evaluation/domain/overall/response/OverallEvaluationUserInfoResponseDto.java
  src/main/java/org/richardstallman/dvback/domain/evaluation/repository/answer/AnswerEvaluationJpaRepository.java
  src/main/java/org/richardstallman/dvback/domain/evaluation/repository/answer/AnswerEvaluationRepository.java
  src/main/java/org/richardstallman/dvback/domain/evaluation/repository/answer/AnswerEvaluationRepositoryImpl.java
  src/main/java/org/richardstallman/dvback/domain/evaluation/repository/overall/OverallEvaluationJpaRepository.java
  src/main/java/org/richardstallman/dvback/domain/evaluation/repository/overall/OverallEvaluationRepository.java
  src/main/java/org/richardstallman/dvback/domain/evaluation/repository/overall/OverallEvaluationRepositoryImpl.java
  src/main/java/org/richardstallman/dvback/domain/evaluation/service/EvaluationService.java
  src/main/java/org/richardstallman/dvback/domain/evaluation/service/EvaluationServiceImpl.java
  src/main/java/org/richardstallman/dvback/domain/file/controller/FileController.java
  src/main/java/org/richardstallman/dvback/domain/file/domain/response/CoverLetterListResponseDto.java
  src/main/java/org/richardstallman/dvback/domain/file/domain/response/PreSignedUrlResponseDto.java
  src/main/java/org/richardstallman/dvback/domain/file/repository/coverletter/CoverLetterJpaRepository.java
  src/main/java/org/richardstallman/dvback/domain/file/repository/coverletter/CoverLetterRepository.java
  src/main/java/org/richardstallman/dvback/domain/file/repository/coverletter/CoverLetterRepositoryImpl.java
  src/main/java/org/richardstallman/dvback/domain/file/service/CoverLetterService.java
  src/main/java/org/richardstallman/dvback/domain/file/service/CoverLetterServiceImpl.java
  src/main/java/org/richardstallman/dvback/domain/interview/converter/InterviewConverter.java
  src/main/java/org/richardstallman/dvback/domain/interview/domain/InterviewDomain.java
  src/main/java/org/richardstallman/dvback/domain/interview/domain/request/InterviewCreateRequestDto.java
  src/main/java/org/richardstallman/dvback/domain/interview/domain/response/InterviewCreateResponseDto.java
  src/main/java/org/richardstallman/dvback/domain/interview/domain/response/InterviewEvaluationResponseDto.java
  src/main/java/org/richardstallman/dvback/domain/interview/domain/response/InterviewQuestionResponseDto.java
  src/main/java/org/richardstallman/dvback/domain/interview/entity/InterviewEntity.java
  src/main/java/org/richardstallman/dvback/domain/interview/repository/InterviewJpaRepository.java
  src/main/java/org/richardstallman/dvback/domain/interview/repository/InterviewRepository.java
  src/main/java/org/richardstallman/dvback/domain/interview/repository/InterviewRepositoryImpl.java
  src/main/java/org/richardstallman/dvback/domain/interview/service/InterviewService.java
  src/main/java/org/richardstallman/dvback/domain/interview/service/InterviewServiceImpl.java
  src/main/java/org/richardstallman/dvback/domain/job/converter/JobConverter.java
  src/main/java/org/richardstallman/dvback/domain/job/domain/JobDomain.java
  src/main/java/org/richardstallman/dvback/domain/job/entity/JobEntity.java
  src/main/java/org/richardstallman/dvback/domain/question/domain/request/QuestionInitialRequestDto.java
  src/main/java/org/richardstallman/dvback/global/config/jobs/JobsConfig.java
  src/main/resources/properties/dev/initial_data.yml
  src/main/resources/properties/local/initial_data.yml
  src/main/resources/properties/prod/initial_data.yml
  src/main/resources/static/docs/app.html
  src/test/java/org/richardstallman/dvback/domain/evaluation/controller/EvaluationControllerTest.java
  src/test/java/org/richardstallman/dvback/domain/file/controller/FileControllerTest.java
  src/test/java/org/richardstallman/dvback/domain/interview/controller/InterviewControllerTest.java
  src/test/java/org/richardstallman/dvback/domain/job/repository/JobRepositoryTest.java
  src/test/java/org/richardstallman/dvback/domain/question/controller/QuestionControllerTest.java
  src/test/java/org/richardstallman/dvback/domain/s3/S3ServiceTest.java
  src/test/java/org/richardstallman/dvback/mock/interview/FakeInterviewRepository.java
Labels: feat, test

#17 [DV-114] feat: 회원 정보 조회
  src/docs/asciidoc/app.adoc
  src/main/java/org/richardstallman/dvback/domain/user/controller/UserController.java
  src/main/java/org/richardstallman/dvback/domain/user/service/UserServiceImpl.java
  src/test/java/org/richardstallman/dvback/domain/user/controller/UserControllerTest.java
Labels: feat, test

#18 [DV-122-be-ai-connections] refactor : ai 전달값 맞춰서 수정
  src/main/java/org/richardstallman/dvback/common/constant/CommonConstants.java
  src/main/java/org/richardstallman/dvback/domain/evaluation/domain/external/AnswerEvaluationExternalDomain.java
  src/main/java/org/richardstallman/dvback/domain/evaluation/domain/external/OverallEvaluationExternalDomain.java
  src/main/java/org/richardstallman/dvback/domain/evaluation/domain/external/request/EvaluationExternalRequestDto.java
  src/main/java/org/richardstallman/dvback/domain/evaluation/service/EvaluationServiceImpl.java
  src/main/java/org/richardstallman/dvback/domain/question/converter/QuestionConverter.java
  src/main/java/org/richardstallman/dvback/domain/question/domain/QuestionDomain.java
  src/main/java/org/richardstallman/dvback/domain/question/domain/external/QuestionExternalDomain.java
  src/main/java/org/richardstallman/dvback/domain/question/domain/external/request/QuestionExternalRequestDto.java
  src/main/java/org/richardstallman/dvback/domain/question/domain/request/QuestionInitialRequestDto.java
  src/main/java/org/richardstallman/dvback/domain/question/entity/QuestionEntity.java
  src/main/resources/static/docs/app.html
  src/test/java/org/richardstallman/dvback/domain/question/controller/QuestionControllerTest.java
Labels: chore

#19 refactor : 프론트 요청사항 반영
  src/main/java/org/richardstallman/dvback/common/constant/CommonConstants.java
  src/main/java/org/richardstallman/dvback/common/ping/controller/PingController.java
  src/main/java/org/richardstallman/dvback/domain/file/converter/CoverLetterConverter.java
  src/main/java/org/richardstallman/dvback/domain/file/entity/CoverLetterEntity.java
  src/main/java/org/richardstallman/dvback/domain/interview/converter/InterviewConverter.java
  src/main/java/org/richardstallman/dvback/domain/interview/service/InterviewServiceImpl.java
  src/main/java/org/richardstallman/dvback/domain/question/domain/external/request/QuestionExternalRequestDto.java
Labels: feat

#20 refactor : 프론트 / 백 /인공지능 연결 제대로 되도록
  src/main/java/org/richardstallman/dvback/domain/answer/entity/AnswerEntity.java
  src/main/java/org/richardstallman/dvback/domain/evaluation/domain/external/request/EvaluationExternalAnswerRequestDto.java
  src/main/java/org/richardstallman/dvback/domain/evaluation/domain/external/request/EvaluationExternalAnswersRequestDto.java
  src/main/java/org/richardstallman/dvback/domain/evaluation/domain/external/request/EvaluationExternalQuestionRequestDto.java
  src/main/java/org/richardstallman/dvback/domain/evaluation/domain/external/request/EvaluationExternalQuestionsRequestDto.java
  src/main/java/org/richardstallman/dvback/domain/evaluation/domain/external/request/EvaluationExternalRequestDto.java
  src/main/java/org/richardstallman/dvback/domain/evaluation/service/EvaluationServiceImpl.java
  src/main/java/org/richardstallman/dvback/domain/interview/converter/InterviewConverter.java
  src/main/java/org/richardstallman/dvback/domain/question/controller/QuestionController.java
  src/main/java/org/richardstallman/dvback/domain/question/converter/QuestionConverter.java
  src/main/java/org/richardstallman/dvback/domain/question/domain/external/request/QuestionExternalRequestDto.java
  src/main/java/org/richardstallman/dvback/domain/question/service/QuestionService.java
  src/main/java/org/richardstallman/dvback/domain/question/service/QuestionServiceImpl.java
  src/test/java/org/richardstallman/dvback/domain/question/controller/QuestionControllerTest.java
Labels: feat

#21 Dv 123 be 외부 logging 연결
  build.gradle
  src/main/java/org/richardstallman/dvback/global/config/web/MvcConfig.java
  src/main/resources/application-dev.yml
  src/main/resources/application-local.yml
  src/main/resources/application-prod.yml
Labels: feat

#22 feat : 프로필 사진 업로드 및 swagger 기능 추가
  build.gradle
  src/main/java/org/richardstallman/dvback/client/s3/service/S3Service.java
  src/main/java/org/richardstallman/dvback/client/s3/service/S3ServiceImpl.java
  src/main/java/org/richardstallman/dvback/common/constant/CommonConstants.java
  src/main/java/org/richardstallman/dvback/domain/file/controller/FileController.java
  src/main/java/org/richardstallman/dvback/domain/file/service/CoverLetterService.java
  src/main/java/org/richardstallman/dvback/domain/file/service/CoverLetterServiceImpl.java
  src/main/resources/application-dev.yml
  src/main/resources/application-local.yml
  src/main/resources/application-prod.yml
  src/main/resources/static/docs/app.html
  src/main/resources/static/docs/index.css
  src/main/resources/static/docs/index.html
  src/main/resources/static/docs/openapi3.yaml
  src/main/resources/static/docs/swagger-initializer.js
  src/main/resources/static/docs/swagger-ui-bundle.js
  src/main/resources/static/docs/swagger-ui-standalone-preset.js
  src/main/resources/static/docs/swagger-ui.css
  src/main/resources/static/favicon.ico
  src/test/java/org/richardstallman/dvback/domain/evaluation/controller/EvaluationControllerTest.java
  src/test/java/org/richardstallman/dvback/domain/file/controller/FileControllerTest.java
  src/test/java/org/richardstallman/dvback/domain/interview/controller/InterviewControllerTest.java
  src/test/java/org/richardstallman/dvback/domain/question/controller/QuestionControllerTest.java
  src/test/java/org/richardstallman/dvback/domain/s3/S3ServiceTest.java
  src/test/java/org/richardstallman/dvback/domain/user/controller/UserControllerTest.java
  src/test/resources/application-test.yml
Labels: feat, test

#24 DV-150-be-interview-evaluation-list-logic-update
  src/main/java/org/richardstallman/dvback/domain/evaluation/controller/EvaluationController.java
  src/main/java/org/richardstallman/dvback/domain/evaluation/converter/OverallEvaluationConverter.java
  src/main/java/org/richardstallman/dvback/domain/evaluation/entity/overall/OverallEvaluationEntity.java
  src/main/java/org/richardstallman/dvback/domain/evaluation/service/EvaluationService.java
  src/main/java/org/richardstallman/dvback/domain/evaluation/service/EvaluationServiceImpl.java
  src/main/java/org/richardstallman/dvback/domain/interview/controller/InterviewController.java
  src/main/java/org/richardstallman/dvback/domain/interview/converter/InterviewConverter.java
  src/main/java/org/richardstallman/dvback/domain/interview/domain/InterviewDomain.java
  src/main/java/org/richardstallman/dvback/domain/interview/domain/response/InterviewEvaluationListResponseDto.java
  src/main/java/org/richardstallman/dvback/domain/interview/domain/response/InterviewEvaluationResponseDto.java
  src/main/java/org/richardstallman/dvback/domain/interview/domain/response/InterviewListResponseDto.java
  src/main/java/org/richardstallman/dvback/domain/interview/entity/InterviewEntity.java
  src/main/java/org/richardstallman/dvback/domain/interview/repository/InterviewJpaRepository.java
  src/main/java/org/richardstallman/dvback/domain/interview/repository/InterviewRepository.java
  src/main/java/org/richardstallman/dvback/domain/interview/repository/InterviewRepositoryImpl.java
  src/main/java/org/richardstallman/dvback/domain/interview/service/InterviewService.java
  src/main/java/org/richardstallman/dvback/domain/interview/service/InterviewServiceImpl.java
  src/test/java/org/richardstallman/dvback/domain/evaluation/controller/EvaluationControllerTest.java
  src/test/java/org/richardstallman/dvback/domain/interview/controller/InterviewControllerTest.java
  src/test/java/org/richardstallman/dvback/mock/interview/FakeInterviewRepository.java
Labels: feat, test

#25 Dv 98 be ticket implement
  src/main/java/org/richardstallman/dvback/common/constant/CommonConstants.java
  src/main/java/org/richardstallman/dvback/domain/coupon/controller/CouponController.java
  src/main/java/org/richardstallman/dvback/domain/coupon/converter/CouponConverter.java
  src/main/java/org/richardstallman/dvback/domain/coupon/domain/CouponDomain.java
  src/main/java/org/richardstallman/dvback/domain/coupon/domain/request/CouponCreateRequestDto.java
  src/main/java/org/richardstallman/dvback/domain/coupon/domain/request/CouponUseRequestDto.java
  src/main/java/org/richardstallman/dvback/domain/coupon/domain/response/CouponInfoResponseDto.java
  src/main/java/org/richardstallman/dvback/domain/coupon/domain/response/CouponUseResponseDto.java
  src/main/java/org/richardstallman/dvback/domain/coupon/entity/CouponEntity.java
  src/main/java/org/richardstallman/dvback/domain/coupon/repository/CouponJpaRepository.java
  src/main/java/org/richardstallman/dvback/domain/coupon/repository/CouponRepository.java
  src/main/java/org/richardstallman/dvback/domain/coupon/repository/CouponRepositoryImpl.java
  src/main/java/org/richardstallman/dvback/domain/coupon/service/CouponService.java
  src/main/java/org/richardstallman/dvback/domain/coupon/service/CouponServiceImpl.java
  src/main/java/org/richardstallman/dvback/domain/evaluation/converter/OverallEvaluationConverter.java
  src/main/java/org/richardstallman/dvback/domain/evaluation/domain/overall/response/OverallEvaluationResponseDto.java
  src/main/java/org/richardstallman/dvback/domain/evaluation/service/EvaluationServiceImpl.java
  src/main/java/org/richardstallman/dvback/domain/interview/converter/InterviewConverter.java
  src/main/java/org/richardstallman/dvback/domain/interview/domain/response/InterviewCreateResponseDto.java
  src/main/java/org/richardstallman/dvback/domain/interview/domain/response/InterviewListResponseDto.java
  src/main/java/org/richardstallman/dvback/domain/interview/domain/response/InterviewResponseDto.java
  src/main/java/org/richardstallman/dvback/domain/interview/service/InterviewServiceImpl.java
  src/main/java/org/richardstallman/dvback/domain/ticket/converter/TicketConverter.java
  src/main/java/org/richardstallman/dvback/domain/ticket/converter/TicketTransactionConverter.java
  src/main/java/org/richardstallman/dvback/domain/ticket/domain/TicketDomain.java
  src/main/java/org/richardstallman/dvback/domain/ticket/domain/TicketTransactionDomain.java
  src/main/java/org/richardstallman/dvback/domain/ticket/domain/TicketUserInfoDto.java
  src/main/java/org/richardstallman/dvback/domain/ticket/domain/request/TicketTransactionRequestDto.java
  src/main/java/org/richardstallman/dvback/domain/ticket/domain/response/TicketResponseDto.java
  src/main/java/org/richardstallman/dvback/domain/ticket/domain/response/TicketTransactionDetailResponseDto.java
  src/main/java/org/richardstallman/dvback/domain/ticket/domain/response/TicketTransactionResponseDto.java
  src/main/java/org/richardstallman/dvback/domain/ticket/entity/TicketEntity.java
  src/main/java/org/richardstallman/dvback/domain/ticket/entity/TicketTransactionEntity.java
  src/main/java/org/richardstallman/dvback/domain/ticket/repository/TicketJpaRepository.java
  src/main/java/org/richardstallman/dvback/domain/ticket/repository/TicketRepository.java
  src/main/java/org/richardstallman/dvback/domain/ticket/repository/TicketRepositoryImpl.java
  src/main/java/org/richardstallman/dvback/domain/ticket/repository/transaction/TicketTransactionJpaRepository.java
  src/main/java/org/richardstallman/dvback/domain/ticket/repository/transaction/TicketTransactionRepository.java
  src/main/java/org/richardstallman/dvback/domain/ticket/repository/transaction/TicketTransactionRepositoryImpl.java
  src/main/java/org/richardstallman/dvback/domain/ticket/service/TicketService.java
  src/main/java/org/richardstallman/dvback/domain/ticket/service/TicketServiceImpl.java
  src/main/java/org/richardstallman/dvback/domain/user/controller/UserController.java
  src/test/java/org/richardstallman/dvback/domain/coupon/controller/CouponControllerTest.java
  src/test/java/org/richardstallman/dvback/domain/evaluation/controller/EvaluationControllerTest.java
  src/test/java/org/richardstallman/dvback/domain/interview/controller/InterviewControllerTest.java
Labels: feat, test

#26 Dv 156 be 로그아웃 오류 해결
  src/main/java/org/richardstallman/dvback/domain/user/controller/UserController.java
  src/main/java/org/richardstallman/dvback/domain/user/service/UserService.java
  src/main/java/org/richardstallman/dvback/domain/user/service/UserServiceImpl.java
  src/main/java/org/richardstallman/dvback/global/oauth/service/CookieService.java
  src/main/java/org/richardstallman/dvback/global/oauth/service/TokenService.java
Labels: fix

#27 DV-159 BE 로그인 여부 확인
  src/main/java/org/richardstallman/dvback/domain/user/controller/UserController.java
  src/test/java/org/richardstallman/dvback/domain/user/controller/UserControllerTest.java
Labels: feat, test

#29 [DV-123] feat : Log Monitoring 추가
  Dockerfile
  src/main/resources/application-dev.yml
  src/main/resources/application-local.yml
  src/main/resources/application-prod.yml
Labels: chore

#30 Dv-162 회원 예외처리
  build.gradle
  src/main/java/org/richardstallman/dvback/client/s3/config/S3Config.java
  src/main/java/org/richardstallman/dvback/client/s3/service/S3Service.java
  src/main/java/org/richardstallman/dvback/client/s3/service/S3ServiceImpl.java
  src/main/java/org/richardstallman/dvback/domain/user/controller/UserController.java
  src/main/java/org/richardstallman/dvback/domain/user/converter/UserConverter.java
  src/main/java/org/richardstallman/dvback/domain/user/domain/UserDomain.java
  src/main/java/org/richardstallman/dvback/domain/user/domain/request/UserRequestDto.java
  src/main/java/org/richardstallman/dvback/domain/user/domain/response/UserLoginResponseDto.java
  src/main/java/org/richardstallman/dvback/domain/user/domain/response/UserResponseDto.java
  src/main/java/org/richardstallman/dvback/domain/user/entity/UserEntity.java
  src/main/java/org/richardstallman/dvback/domain/user/repository/UserJpaRepository.java
  src/main/java/org/richardstallman/dvback/domain/user/repository/UserRepository.java
  src/main/java/org/richardstallman/dvback/domain/user/repository/UserRepositoryImpl.java
  src/main/java/org/richardstallman/dvback/domain/user/service/UserPostService.java
  src/main/java/org/richardstallman/dvback/domain/user/service/UserPostServiceImpl.java
  src/main/java/org/richardstallman/dvback/domain/user/service/UserService.java
  src/main/java/org/richardstallman/dvback/domain/user/service/UserServiceImpl.java
  src/main/java/org/richardstallman/dvback/global/converter/MultipartJackson2HttpMessageConverter.java
  src/main/java/org/richardstallman/dvback/global/oauth/KakaoUserInfo.java
  src/main/resources/application-local.yml
  src/test/java/org/richardstallman/dvback/domain/user/controller/UserControllerTest.java
Labels: feat, test

#31 Dv 165 be post basic implements
  src/main/java/org/richardstallman/dvback/common/constant/CommonConstants.java
  src/main/java/org/richardstallman/dvback/domain/evaluation/repository/overall/OverallEvaluationRepository.java
  src/main/java/org/richardstallman/dvback/domain/evaluation/repository/overall/OverallEvaluationRepositoryImpl.java
  src/main/java/org/richardstallman/dvback/domain/evaluation/service/EvaluationService.java
  src/main/java/org/richardstallman/dvback/domain/evaluation/service/EvaluationServiceImpl.java
  src/main/java/org/richardstallman/dvback/domain/interview/service/InterviewService.java
  src/main/java/org/richardstallman/dvback/domain/interview/service/InterviewServiceImpl.java
  src/main/java/org/richardstallman/dvback/domain/job/repository/JobJpaRepository.java
  src/main/java/org/richardstallman/dvback/domain/job/repository/JobRepository.java
  src/main/java/org/richardstallman/dvback/domain/job/repository/JobRepositoryImpl.java
  src/main/java/org/richardstallman/dvback/domain/job/service/JobService.java
  src/main/java/org/richardstallman/dvback/domain/job/service/JobServiceImpl.java
  src/main/java/org/richardstallman/dvback/domain/post/controller/PostController.java
  src/main/java/org/richardstallman/dvback/domain/post/converter/PostConverter.java
  src/main/java/org/richardstallman/dvback/domain/post/domain/PostDomain.java
  src/main/java/org/richardstallman/dvback/domain/post/domain/request/PostCreateRequestDto.java
  src/main/java/org/richardstallman/dvback/domain/post/domain/response/PostCreateResponseDto.java
  src/main/java/org/richardstallman/dvback/domain/post/domain/response/PostUserListResponseDto.java
  src/main/java/org/richardstallman/dvback/domain/post/entity/PostEntity.java
  src/main/java/org/richardstallman/dvback/domain/post/repository/PostJpaRepository.java
  src/main/java/org/richardstallman/dvback/domain/post/repository/PostRepository.java
  src/main/java/org/richardstallman/dvback/domain/post/repository/PostRepositoryImpl.java
  src/main/java/org/richardstallman/dvback/domain/post/service/PostService.java
  src/main/java/org/richardstallman/dvback/domain/post/service/PostServiceImpl.java
  src/test/java/org/richardstallman/dvback/domain/post/controller/PostControllerTest.java
  src/test/java/org/richardstallman/dvback/mock/coupon/FakeCouponRepository.java
  src/test/java/org/richardstallman/dvback/mock/job/FakeJobRepository.java
Labels: feat, test

#32 feat : 마이페이지에서 유저 정보 조회 시 이용권 보유 수량 함께 응답하는 엔드포인트 추가
  src/main/java/org/richardstallman/dvback/domain/user/controller/UserController.java
  src/main/java/org/richardstallman/dvback/domain/user/domain/response/UserMyPageResponseDto.java
  src/test/java/org/richardstallman/dvback/domain/user/controller/UserControllerTest.java
Labels: feat, test

#33 DV-172 BE 회원 정보 입력 수정
  src/main/java/org/richardstallman/dvback/domain/user/controller/UserController.java
  src/main/java/org/richardstallman/dvback/domain/user/domain/request/UserRequestDto.java
  src/main/java/org/richardstallman/dvback/domain/user/service/UserPostService.java
  src/main/java/org/richardstallman/dvback/domain/user/service/UserPostServiceImpl.java
  src/main/java/org/richardstallman/dvback/domain/user/service/UserService.java
  src/main/java/org/richardstallman/dvback/domain/user/service/UserServiceImpl.java
  src/test/java/org/richardstallman/dvback/domain/user/controller/UserControllerTest.java
Labels: test, refactor

#35 Dv 177 be comment implements
  src/main/java/org/richardstallman/dvback/domain/comment/controller/CommentController.java
  src/main/java/org/richardstallman/dvback/domain/comment/converter/CommentConverter.java
  src/main/java/org/richardstallman/dvback/domain/comment/domain/CommentDomain.java
  src/main/java/org/richardstallman/dvback/domain/comment/domain/request/CommentCreateRequestDto.java
  src/main/java/org/richardstallman/dvback/domain/comment/domain/response/CommentDeleteResponseDto.java
  src/main/java/org/richardstallman/dvback/domain/comment/domain/response/CommentListResponseDto.java
  src/main/java/org/richardstallman/dvback/domain/comment/domain/response/CommentResponseDto.java
  src/main/java/org/richardstallman/dvback/domain/comment/entity/CommentEntity.java
  src/main/java/org/richardstallman/dvback/domain/comment/repository/CommentJpaRepository.java
  src/main/java/org/richardstallman/dvback/domain/comment/repository/CommentRepository.java
  src/main/java/org/richardstallman/dvback/domain/comment/repository/CommentRepositoryImpl.java
  src/main/java/org/richardstallman/dvback/domain/comment/service/CommentService.java
  src/main/java/org/richardstallman/dvback/domain/comment/service/CommentServiceImpl.java
  src/main/java/org/richardstallman/dvback/domain/post/repository/PostRepository.java
  src/main/java/org/richardstallman/dvback/domain/post/repository/PostRepositoryImpl.java
  src/main/java/org/richardstallman/dvback/domain/post/service/PostService.java
  src/main/java/org/richardstallman/dvback/domain/post/service/PostServiceImpl.java
  src/test/java/org/richardstallman/dvback/domain/comment/controller/CommentControllerTest.java
Labels: feat, test

#34 Dv 178 be 프로필 이미지 관련 수정
  src/main/java/org/richardstallman/dvback/client/s3/service/S3Service.java
  src/main/java/org/richardstallman/dvback/client/s3/service/S3ServiceImpl.java
  src/main/java/org/richardstallman/dvback/domain/file/controller/FileController.java
  src/main/java/org/richardstallman/dvback/domain/user/converter/UserConverter.java
  src/main/java/org/richardstallman/dvback/domain/user/domain/UserDomain.java
  src/main/java/org/richardstallman/dvback/domain/user/domain/request/UserRequestDto.java
  src/main/java/org/richardstallman/dvback/domain/user/entity/UserEntity.java
  src/main/java/org/richardstallman/dvback/domain/user/service/UserServiceImpl.java
  src/test/java/org/richardstallman/dvback/domain/file/controller/FileControllerTest.java
  src/test/java/org/richardstallman/dvback/domain/user/controller/UserControllerTest.java
Labels: test, refactor

#36 Dv 179 be sns 구독 기능
  src/main/java/org/richardstallman/dvback/domain/subscription/controller/SubscriptionController.java
  src/main/java/org/richardstallman/dvback/domain/subscription/converter/SubscriptionConverter.java
  src/main/java/org/richardstallman/dvback/domain/subscription/domain/SubscriptionDomain.java
  src/main/java/org/richardstallman/dvback/domain/subscription/domain/request/SubscriptionCreateRequestDto.java
  src/main/java/org/richardstallman/dvback/domain/subscription/domain/response/SubscriptionResponseDto.java
  src/main/java/org/richardstallman/dvback/domain/subscription/entity/SubscriptionEntity.java
  src/main/java/org/richardstallman/dvback/domain/subscription/repostiroy/SubscriptionJpaRepository.java
  src/main/java/org/richardstallman/dvback/domain/subscription/repostiroy/SubscriptionRepository.java
  src/main/java/org/richardstallman/dvback/domain/subscription/repostiroy/SubscriptionRepositoryImpl.java
  src/main/java/org/richardstallman/dvback/domain/subscription/service/SubscriptionService.java
  src/main/java/org/richardstallman/dvback/domain/subscription/service/SubscriptionServiceImpl.java
  src/test/java/org/richardstallman/dvback/domain/subscription/controller/SubscriptionControllerTest.java
Labels: feat, test, refactor
